body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar-brand {
    font-weight: bold;
   
  }
  .nav-item a{

    color: white;
    font-size: 2rem;
  }
  
  .baslik {
    background: url(resimler/pxfuel.jpg) no-repeat center center/cover;
    color: white;
    padding: 150px 0;
    height: 95vh;
  }
  
  .baslik h1 {
    font-size: 3.2rem;
    font-weight: bold;
    padding-top: 90px;
    text-align: center;
    
  }
  
  .baslik p{
    font-size: 2rem;
    margin-top: 10px;
    text-align: justify;
  }
  #about{
    height: 100vh;
    background-color: #000000;
  }
  #about h2{
    font-size: 3.2rem;
    color: white;
  }
  #about p{
    font-size: 1.6rem;
    color: white;
    text-align: center;
  }
  
  .about-section, .projeler-section, .iletisim-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .projeler-section .card {
    transition: transform 0.2s;
  }
  
  .projeler-section .card:hover {
    transform: scale(1.05);
  }
  
  footer {
    background-color: #343a40;
  }
 
  