#body{

    background-color: rgb(58, 59, 84);
}




.arkaplan{

background-image: url(resimler/bluebackground.jpg);
 background-color: rgb(58, 59, 84);
   height: 100vh;
   width: 100%;
   background-size: cover;
   background-attachment: fixed;
}

.navbar-brand{

    font-size: 30px;
    font-weight: bold;
    color: antiquewhite;
}



.nav-item a{

    color :antiquewhite;
    font-size: 30px;
    font-weight: bold;
  
    
}

.yazilar1{
position: absolute;

top: 100px;

}

.xddd {
 
   text-align:justify;
    line-height: 2;
    width: 500px;
    z-index: -1;
    color: rgb(1, 0, 1);
    text-decoration:dashed;
   font-family: 'Montserrat', sans-serif;
}
 .myphoto{
top: 20px;
position: absolute;
left: 1000px;

 }
  










 









