body {
    font-family: 'Arial', sans-serif;
  
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
	background-size: 100%;
	background-repeat: no-repeat;
 


  }
  
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .baslik {
    background:rgb(241, 241, 241) no-repeat center center/cover;
    color: white;
    padding: 100px 0;
    background-image: url(resimler/şehirarkaplan.jpg);
    
  }

  .baslik h1 {
    font-size: 3rem;
    font-weight: bold;
    opacity: 0.9;
    color: rgb(0, 0, 0);
  }
  .baslik p {
    font-size: 1.25rem;
    margin-top: 10px;
  }

  .carousel-inner{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .carousel-inner:hover {
    transform: scale(1.01);
  }
.carousel-item img{
  height: 94dvh;

}

  main{
    overflow: scroll;
    flex: 1;
  }
  .navbar {
    margin-bottom: 0;
  }
  .nav-item a{

    color: white;
    font-size: 2rem;
  }
  #slider .carousel-item img {
    filter: brightness(0.7);
  }
  #slider {
    margin-bottom: 2rem;
    position: static;
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
  
  }

  #about-city{
text-align: center;
    height: 130dvh;
    display: flex;
  }
  #about-city p{
    color: black;
    font-size: 1.1rem;
  }

  
   .about-city, .foto-galeri, .heritage {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .foto-galeri img {
    transition: transform 0.2s;
  }
  
 .foto-galeri img:hover {
    transform: scale(1.05);
  }
  
  footer {
    background-color: #343a40;
  }
  #heritage h2{
    font-size: 2rem;

  

  }
  #heritage p{
    font-size: 1.3rem;
    text-align: left;
    color: black;

  

  }
  #heritage{
    overflow: scroll;
    flex: 1;
    
  }

  #foto-galeri img{
    border-radius: 5px;

  }
  #foto-galeri img:hover{
    transform: scale(1.3);
    
  }